<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register serviceType="Sitecore.Support.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.Support.310438" 
                implementationType="Sitecore.Support.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.Support.310438" 
                patch:instead="*[@implementationType='Sitecore.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.ExperienceForms.Mvc']" />
    </services>
  </sitecore>
</configuration>